<%- include comHeader.ejs %>

<body class="p-index">

<%- include header.ejs %>

<div class="container cf">
    <div class="wrap">

        <%- include side.ejs %>

        <article class="content fr">
            <section class="post">
                <h2 class="post-title"><a href="#">我为什么还要坚持写博客？</a></h2>
                <div class="post-con">
                    <p>最近有点累过头，大概是物极必反，之前模糊的情绪忽然长出了脚， 让我可以捉住它们。 上周的年会意外取消，挺讨厌的，就因为要开年会我才取消了同学聚会，结果年会还开不了！马上放假了，年前老同学肯定要约出来聚聚的。 有时候挺累的，却一直在坚持，不知道你们是否也一样还在坚持？[......]</p>
                </div>
                <div class="post-meta cf">
                    <div class="post-tags">标签：<a href="">小星星</a>，<a href="">小星星</a>，<a href="">小星星</a></div>
                </div>
                <div class="post-nav">
                    <div class="post-prev"><a href="">这里是上一篇文章</a></div>
                    <div class="post-next"><a href="">这里是下一篇文章</a></div>
                </div>
            </section>
            <div class="post-comment">
            </div>

        </article>
    </div>
</div>

<%- include footer.ejs %>

</body>
</html>