<footer class="footer">
    <div class="footer-bd">
        <div class="wrap cf footer-widget">
            <div class="itm tags">
                <h3 class="hd">网站标签</h3>
                <div class="bd">
                    <a href="">html</a>
                    <a href="">面向对象</a>
                    <a href="">github</a>
                    <a href="">github</a>
                    <a href="">github</a>
                    <a href="">github</a>
                    <a href="">github</a>
                    <a href="">github</a>
                    <a href="">html</a>
                    <a href="">面向对象</a>
                    <a href="">github</a>
                    <a href="">github</a>
                    <a href="">github</a>
                    <a href="">github</a>
                    <a href="">github</a>
                    <a href="">github</a>
                    <a href="">github</a>
                    <a href="">github</a>
                    <a href="">github</a>
                    <a href="">github</a>
                </div>
            </div>
            <div class="itm users">
                <h3 class="hd">读者墙</h3>
                <div class="bd">
                    <ul class="cf">
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                        <li><a href=""><img src="images/k1.jpg" alt=""/></a></li>
                    </ul>
                </div>
            </div>
            <div class="itm comments">
                <h3 class="hd">最近评论</h3>
                <div class="bd">
                    <ul>
                        <li><img src="images/k1.jpg" alt=""/><a href="">神奇的网站啊~~</a></li>
                        <li><img src="images/k1.jpg" alt=""/><a href="">神奇的网站啊~~</a></li>
                        <li><img src="images/k1.jpg" alt=""/><a href="">神奇的网站啊~~</a></li>
                        <li><img src="images/k1.jpg" alt=""/><a href="">神奇的网站啊~~</a></li>
                        <li><img src="images/k1.jpg" alt=""/><a href="">神奇的网站~~</a></li>
                    </ul>
                </div>
            </div>
            <div class="itm links">
                <h3 class="hd">博客好友 · Blog Friends</h3>
                <div class="bd">
                    <ul>
                        <li><i></i><a href="">青瓷数码</a></li>
                        <li><i></i><a href="">前端开发</a></li>
                        <li><i></i><a href="">前端开发</a></li>
                        <li><i></i><a href="">前端开发</a></li>
                        <li><i></i><a href="">前端开d发ss</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-ft">
        <div class="wrap cf">
            <div class="fl copyright">© 2013 <a href="">辋川先生</a>.THEME DESIGN BY SUPIDEA   CODE BY KOMLA.</div>
            <div class="fr sns cf">
                <a href="http://e.weibo.com/tongyingfei" target="_blank" rel="nofollow" class="sinawb"></a>
                <a href="http://t.qq.com/design75" target="_blank" rel="nofollow" class="txwb"></a>
                <a href="http://www.zhihu.com/people/75idea" target="_blank" rel="nofollow" class="zhihu"></a>
                <a href="http://page.renren.com/601338251?id=601338251" target="_blank" rel="nofollow" class="renren"></a>
                <a href="http://www.75design.cn/feed" target="_blank" rel="nofollow" class="rss"></a>
            </div>
        </div>
    </div>
</footer>