<header class="header">
    <div class="wrap cf">
        <h1 class="logo fl"><a href="">辋川先生</a></h1>
        <nav class="topNav fl">
            <ul>
                <li><a href="">主页</a></li>
                <li><a href="">日记</a></li>
                <li><a href="">实验室</a></li>
                <li><a href="">关于我</a></li>
            </ul>
        </nav>
        <div class="seach-box fr">
            <form action="">
                <input type="text" placeholder="SEACH..."/>
            </form>
        </div>
    </div>
    <script>

    </script>
</header>