<aside class="sidebar fl">
    <section class="widgetcon por">
        <div class="me-pic">
            <img src="upload/3.jpeg" alt=""/>
        </div>
        <p class="aboutme">
            感谢您，来到这里看望 [童 ]的朋友，但愿此刻在您心中，亦有共鸣。——MR.童
        </p>
    </section>
    <section class="widgetcon">
        <h3 class="hd">不期而遇（第一期）</h3>
        <div class="bd">
            <a href=""><img src="upload/2.jpg" alt="" width="100%"/></a>
        </div>
    </section>
    <section class="widgetcon">
        <h3 class="hd">不期而遇（第一期）</h3>
        <div class="bd">
            <a href=""><img src="upload/2.jpg" alt=""/></a>
        </div>
    </section>
    <section class="widgetcon">
        <h3 class="hd">不期而遇（第一期）</h3>
        <div class="bd">
            <a href=""><img src="upload/2.jpg" alt=""/></a>
        </div>
    </section>
</aside>